In [ ]:
# TODO: Add general overview of notebook

In [ ]:
# TODO: Add comments. It will help in the long run.

In [1]:
import pandas as pd
import glob
import numpy as np
import re
import csv
import inflect
p = inflect.engine()

ImportError: No module named inflect

In [ ]:
# NOTE: I didn't know about inflect package. I'm going to add it to my NLP course!

In [2]:
years = glob.glob("../LISTS by GROUP/Bay Area Resturants/20*")
years

[]

In [3]:
def get_months(years):
    months = []
    for yr in years:
        months.extend(glob.glob(yr + "/*"))
    return months
months = get_months(years)
months

[]

In [4]:
def get_files(months):
    files = months[-13:]
    for month in months[0:-13]:
        files.extend(glob.glob(month + "/*.xls"))
        files.extend(glob.glob(month + "/*.xlsx"))
    return files
all_files = get_files(months)
all_files.remove('../LISTS by GROUP/Bay Area Resturants/2013/March 2013/VegiWorks 3.29.13.xlsx')
len(all_files)

ValueError: list.remove(x): x not in list

In [5]:
def import_data(filename):
    dt = filename.split()[-1]
    data = pd.read_excel(filename)
    cat = 'MISSING'
    for i, row in data.iterrows():
        if row[0] == 'PRODUCT':
            new = data[i:].reset_index().drop(['index'], axis=1)
            table1 = new.iloc[1:,:5]
            table1.columns = new.iloc[0,:5]
            table1 = table1.drop([np.nan], axis=1)
            #print table1.columns
            regex = re.compile('[^a-zA-Z]')
            table1.columns = map(lambda x: regex.sub('',x),table1.columns)
            if row[6] == 'PRODUCT':
                table2 = new.iloc[1:,6:]
                table2 = table2.drop(table2.columns[[1]], axis=1)
                if len(table2.columns) == len(table1.columns):
                    table2.columns = table1.columns
                    result = pd.concat([table1, table2], axis=0)
                else:
                    result = table1
            else:
                result = table1
            non_decimal = re.compile(r'[^\d.]+')
            result['DATE'] = non_decimal.sub('',dt)
            result['file_name'] = filename
            result['YEAR'] = result['DATE'].apply(lambda x: str(x).split('.')[-2] if x != '.' else 14)
            result['MONTH'] = result['DATE'].apply(lambda x: str(x).split('.')[0] if x != '.' else 11)
            #output = result[result['FARM'].notnull()]
            #output = output[output['PRODUCT'].notnull()]
            output = result[result['PRODUCT'].notnull()]
            return output#[output['PRICE'].notnull()]

#### TODO: I don't how slow this is but looping over rows could be optimitized.
[reference](http://nbviewer.ipython.org/github/rasbt/python_reference/blob/master/tutorials/things_in_pandas.ipynb)

In [6]:
def compile_data(all_files): # TODO: Rename `join_data`. You aren't compiling
    data = import_data(all_files[0])
    for xl in all_files[1:]: # TODO: `for file_name in file_list:`
        add_table = import_data(xl)
        data = pd.concat([data, add_table],ignore_index=True, axis =0)
    return data

In [7]:
restaurant_prices = compile_data(all_files)
restaurant_prices.head()

,PRODUCT,FARM,CT,PRICE,DATE,file_name,YEAR,MONTH
0,CHICORIES,NaN,NaN,NaN,01.05.15.,../LISTS by GROUP/Bay Area Resturants/2015/Cit...,15,01
1,Super Baby Chicory Mix,Marin,3 LB,24,01.05.15.,../LISTS by GROUP/Bay Area Resturants/2015/Cit...,15,01
2,Fall Chicory Mix,Marin,5 LB,20,01.05.15.,../LISTS by GROUP/Bay Area Resturants/2015/Cit...,15,01
3,Castel Franco,Marin,5 LB,20,01.05.15.,../LISTS by GROUP/Bay Area Resturants/2015/Cit...,15,01
4,Chioggia Variegata,Marin,5 LB,20,01.05.15.,../LISTS by GROUP/Bay Area Resturants/2015/Cit...,15,01

In [62]:
def cleaning(data):
    df = data.fillna('category')
    df['PRODUCT'] = df['PRODUCT'].apply(lambda x: x.replace('w/', 'with'))
    df['PRODUCT'] = df['PRODUCT'].apply(lambda x: x.replace('&', ' '))
    df['PRODUCT'] = df['PRODUCT'].apply(lambda x: x.replace('/', ' '))
    df['PRODUCT'] = df['PRODUCT'].apply(lambda x: x.replace(',', ' '))
    df['PRODUCT'] = df['PRODUCT'].apply(lambda x: x.replace('-', ' '))
    df['PRODUCT'] = df['PRODUCT'].apply(lambda x: x.encode('ascii','ignore'))
    regex = re.compile('[^a-zA-Z ]')
    df['PRODUCT'] = df['PRODUCT'].apply(lambda x: regex.sub('',x))
    df['PRODUCT'] = df['PRODUCT'].apply(lambda x: re.sub( '\s+', ' ', str(x).lower().strip()))
    df['PRODUCT_LIST'] = df['PRODUCT'].apply(lambda x: x.split())
    for i, row in df.iterrows():
        new = []
        for word in row['PRODUCT_LIST']:
            if p.singular_noun(word)==False:
                new.append(word)
            else:
                new.append(p.singular_noun(word))
        df.loc[i, 'PRODUCT'] = ' '.join(new)
    df['FARM'] = df['FARM'].apply(lambda x: str(x).lower())
    df['FARM'] = df['FARM'].apply(lambda x: str(x).replace('valley',''))
    df['FARM'] = df['FARM'].apply(lambda x: x.strip())
    df['CT'] = df['CT'].apply(lambda x: str(x).lower())
    df['CT'] = df['CT'].apply(lambda x: str(x).replace('lbs',' lb'))
    df['CT'] = df['CT'].apply(lambda x: str(x).replace('#',' lb'))
    df['CT'] = df['CT'].apply(lambda x: str(x).replace('lb',' lb'))
    df['CT'] = df['CT'].apply(lambda x: str(x).replace('ct',' ct'))
    df['CT'] = df['CT'].apply(lambda x: str(x).replace('bu',' bu'))
    df['CT'] = df['CT'].apply(lambda x: str(x).replace('lb20','20 lb'))
    df['CT'] = df['CT'].apply(lambda x: str(x).replace('/',' / '))
    df['PRICE'] = df['PRICE'].apply(lambda x: str(x).replace('/',' / '))
    df['PRICE'] = df['PRICE'].apply(lambda x: str(x).replace('$',''))
    df['CT'] = df['CT'].apply(lambda x: '1 flat' if x == 'flat' else x)
    df['ct_flag'] = df['CT'].apply(lambda x: x.split())
    df['price_flag'] = df['PRICE'].apply(lambda x: str(x).split())
    df['ct_len'] = df['ct_flag'].apply(lambda x: len(x))
    df['price_len'] = df['price_flag'].apply(lambda x: len(x))
    df['CAT'] = "MISSING"
    cat = "MISSING"
    for i, row in df.iterrows():
        if row['FARM']=='category':
            cat = row['PRODUCT']
        df.loc[i, 'CAT'] = cat
        if row['ct_len']==5:
            row['CT'] = ' '.join(row['ct_flag'][:2])
            df.loc[i, 'CT'] = ' '.join(row['ct_flag'][3:])
            if row['price_len']==3:
                row['PRICE'] = row['price_flag'][0]
                df.loc[i, 'PRICE'] = row['price_flag'][-3]
            df = df.append(row, ignore_index=True)
        elif row['ct_len']==3:
            df.loc[i,'CT'] = '12 bulbs'
        elif row['ct_len'] == 4:
            df.loc[i,'CT'] = ' '.join([str(float(row['ct_flag'][0])/float(row['ct_flag'][2])), row['ct_flag'][3]])
        elif row['ct_len']==2 and row['price_len']==3:
            df.loc[i,'CT'] = '1 lb'
            df.loc[i,'PRICE'] = row[9][0]
    df = df[df['FARM']!='category'][df['PRICE']!='category'][df['CT']!='category'].reset_index()
    df['ct_flag'] = df['CT'].apply(lambda x: x.split())
    df['price_flag'] = df['PRICE'].apply(lambda x: str(x).split())
    df['ct_len'] = df['ct_flag'].apply(lambda x: len(x))
    df['price_len'] = df['price_flag'].apply(lambda x: len(x))  
    df['QUANTITY'] = df['CT'].apply(lambda x: x.split()[0])
    df['UNIT'] = df['CT'].apply(lambda x: x.split()[1])
    df[['PRICE','QUANTITY']] = df[['PRICE','QUANTITY']].convert_objects(convert_numeric=True)
    df['PRICE_PER_UNIT'] = df['PRICE']/df['QUANTITY']
    df['CT'] = df['CT'].apply(lambda x: str(x).replace('  ',' '))
    df['PRICE'] = df['PRICE'].apply(lambda x: str(x).replace('  ',' '))
    return df
cleaned = cleaning(restaurant_prices)
cleaned.shape

(19573, 18)

#### TODO: Lowercase all columns. Trust me, it is way better.
[reference](http://nbviewer.ipython.org/github/rasbt/python_reference/blob/master/tutorials/things_in_pandas.ipynb)

In [63]:
cleaned.drop(['ct_flag', 'price_flag','ct_len','price_len'], axis=1).to_csv('all_res_prices.csv',encoding='utf-8')

In [5]:
cleaning = pd.read_csv('all_res_prices.csv').drop(['Unnamed: 0','index', 'CAT'], axis=1)
cleaning.head()

,PRODUCT,FARM,CT,PRICE,DATE,file_name,YEAR,MONTH,PRODUCT_LIST,QUANTITY,UNIT,PRICE_PER_UNIT
0,super baby chicory mix,marin,3 lb,24,01.05.15.,../LISTS by GROUP/Bay Area Resturants/2015/Cit...,15,1,"[super, baby, chicory, mix]",3,lb,8
1,fall chicory mix,marin,5 lb,20,01.05.15.,../LISTS by GROUP/Bay Area Resturants/2015/Cit...,15,1,"[fall, chicory, mix]",5,lb,4
2,castel franco,marin,5 lb,20,01.05.15.,../LISTS by GROUP/Bay Area Resturants/2015/Cit...,15,1,"[castel, franco]",5,lb,4
3,chioggia variegata,marin,5 lb,20,01.05.15.,../LISTS by GROUP/Bay Area Resturants/2015/Cit...,15,1,"[chioggia, variegata]",5,lb,4
4,palla rossa,marin,5 lb,20,01.05.15.,../LISTS by GROUP/Bay Area Resturants/2015/Cit...,15,1,"[palla, rossa]",5,lb,4

In [6]:
restaurant_prices.head()

NameError: name 'restaurant_prices' is not defined

In [8]:
mapping = pd.read_csv('../Product_Category_Mapping2.csv')

In [9]:
mapping.head()

                  PRODUCT      CAT
0  super baby chicory mix  chicory
1        fall chicory mix  chicory
2           castel franco  chicory
3      chioggia variegata  chicory
4             palla rossa  chicory

In [10]:
df_cat = cleaning.merge(mapping, left_on='PRODUCT', right_on='PRODUCT')

In [11]:
df_cat.to_csv('cleaned_res_data2.csv',encoding='utf-8')